
.container__menu-bar{

    margin: 50px 0px 0px 0px;
    display: flex;
    height: 100px;
    width: 99.2%;
    justify-content: center;
    align-items: center;


}
.menu{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid rgb(223, 245, 223);
       
    height: 70px;
    width: 90vw;
}

.logo{
    border-radius: 10px;
    display: flex;
    
 align-items: center;
}

.logo > img{

    margin: 0px 0px 0px 90px;
    
        height: 70px;
        width: 70px;
}
.class__menu_pages {
    display: flex;
    
}
.class__menu_pages > ul{
    gap: 10rem;
    display: flex;
 
}.class__menu_pages > ul > li{
   
 display: flex;
 align-items: center;
 color: rgb(255, 255, 255);
}





.redes_sociais{

   display: flex;


}
.redes_sociais ul{
    gap: 10px;
    display: flex;
    align-items: center;
    width: 290px;
}

.redes_sociais ul > li{
   margin: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.redes_sociais .instagram img{
        height: 52px;
    width:57px;

}.redes_sociais .facebook img{
    height: 45px;
    width: 45px;
}.redes_sociais .youtuber img{
    height: 45px;
    width: 45px;
}